

body {

background-image: url("../images/background.jpg");
background-size: 230px 190px;
background-repeat: repeat;
}

#timer {

 float: none;
     margin-left: auto;
     margin-right: auto;

}

#questions {

 float: none;
     margin-left: auto;
     margin-right: auto;

}

#answers {


	 float: none;
     margin-left: auto;
     margin-right: auto;
}